<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 	http://www.springframework.org/schema/mvc
 	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context-4.0.xsd
 	http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">


	<context:component-scan base-package="com.tesis.gipro.controller" />

	<mvc:annotation-driven />
	
	
	<mongo:mongo-client host="192.168.0.105" port="27017" id="mongo" >
		 <mongo:client-options  
		  			   write-concern="NORMAL"
		  			   connections-per-host="10"
		  			   max-connection-idle-time="30000"            
             		   connect-timeout="30000"
             		   max-wait-time="30000"
                   	   socket-keep-alive="true"
                   	   socket-timeout="3000"
	                   />
  	</mongo:mongo-client>
  	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
    	<constructor-arg name="mongo" ref="mongo" />
    	<constructor-arg name="databaseName" value="gipro" />
	</bean>
	
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<bean id="jacksonMessageConverter"  
	    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" >
	</bean>
	
	<bean  class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	   	<property name="messageConverters">
	      	<list>
	       		<ref bean="jacksonMessageConverter" />
	      	</list>
	  	</property>
	</bean>  

</beans>